<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>layim</title>
    <link type="text/css" rel="stylesheet" href="../static/css/im.css"/>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script type="text/javascript" src="../static/js/util.js"></script>
    <script type="text/javascript" src="../static/js/message.js"></script>
    <script type="text/javascript" src="../static/js/messagebody.js"></script>
<body>

<script src="../static/layui/layui.js"></script>
<script src="../static/js/websocketconfig.js"></script>
<script th:inline="javascript">
    var currentsession = [[${user.id}]] + "";
    var currentUser = [[${user.userInfo.name}]];
    var lm;

    //一般直接写在一个js文件中
    layui.use(['layer', 'jquery'], function () {
        var layer = layui.layer
            , $ = layui.jquery;
        //html加载完毕后
        $(document).ready(function () {
            layer.msg("欢迎" + currentUser);
        });
        //发送消息
        var sendMsg = function (msg, receiver, group) {
            var message = new proto.Model();
            var content = new proto.MessageBody();
            message.setMsgtype(4);
            message.setCmd(5);
            message.setGroupid(group);//系统用户组
            message.setToken(currentsession);
            message.setSender(currentsession);
            message.setReceiver(receiver);//好友ID
            message.setTimestamp(new Date().format("yyyy-MM-dd HH:mm:ss"));
            content.setContent(msg);
            content.setType(0);
            message.setContent(content.serializeBinary());
            socket.send(message.serializeBinary());
        };
        //拉取离线消息
        var showOfflineMsg = function (layim) {
            $.ajax({
                type: "post",
                url: "/getofflinemsg",
                async: true,
                success: function (data) {
                    var dataObj = data;
                    if (dataObj != null && dataObj.length > 0) {
                        for (var i = 0; i < dataObj.length; i++) {
                            layim.getMessage({
                                username: dataObj[i].sendusername
                                , avatar: dataObj[i].avatar + "?" + new Date().getTime()
                                , id: dataObj[i].senduser
                                , type: "friend"
                                , content: dataObj[i].content
                                , timestamp: dataObj[i].createdate
                            });
                        }
                    }
                }
            });
        };


        layui.use('layim', function (layim) {

            //基础配置
            layim.config({

                init: {
                    url: '/userAccount/getusers' //接口地址（返回的数据格式见layim文档）
                    , type: 'get' //默认get，一般可不填
                    , data: {} //额外参数

                }, //获取主面板列表信息
                title: "我的IM"
                , notice: true,
                //获取群员接口  请自行实现获取群用户
                members: {
                    url: '' //接口地址
                    , type: 'get' //默认get，一般可不填
                    , data: {} //额外参数
                },
                //上传图片接口（返回的数据格式见下文）
                uploadImage: {
                    url: '/imgupload' //接口地址
                    , type: 'post' //默认post
                },
                //上传文件接口（返回的数据格式见下文）
                uploadFile: {
                    url: '/fileupload' //接口地址
                    , type: 'post' //默认post
                },
                isAudio: true, //开启聊天工具栏音频
                isVideo: true, //开启聊天工具栏视频
                brief: false,
                min: false,
                isgroup: true,
                voice: false,
                copyright: true
                , msgbox: '/message' //消息盒子页面地址，若不开启，剔除该项即可
                //,find: layui.cache.dir + 'css/modules/layim/html/find.html' //发现页面地址，若不开启，剔除该项即可
                , chatLog: '/historymessage' //聊天记录页面地址，若不开启，剔除该项即可
            });

            layim.on('ready', function (res) {
                lm = layui.layim;
                //添加客服
                layim.addList({
                    type: 'friend' //列表类型，只支持friend和group两种
                    , avatar: "../static/layui/images/0.jpg" //好友头像
                    , username: '琪琪IM智能客服' //好友昵称
                    , groupid: 1 //所在的分组id
                    , id: "0" //好友id
                    , sign: "有什么问题尽管问我把" //好友签名
                });
                layim.msgbox(2); //模拟消息盒子有新消息，实际使用时，一般是动态获得
                //取得离线消息
                showOfflineMsg(layim);
                layim.setFriendStatus(currentsession, 'online');
            });

            //监听发送消息
            layim.on('sendMessage', function (data) {
                    var To = data.to;
                    var my = data.mine;
                    var message = my.content;
                    var receiver = To.id + "";
                    if ($.trim(currentsession) == '') {
                        return;
                    }
                    if ($.trim(message) == '') {
                        layer.msg("请输入要发送的消息!");
                        return;
                    }
                    if (window.WebSocket) {
                        //判断是发送好友消息还是群消息
                        if (socket.readyState == WebSocket.OPEN) {
                            //判断是发送好友消息还是群消息
                            if (To.type == "friend") {
                                sendMsg(message, receiver, null)
                            } else {
                                sendMsg(message, null, receiver)
                            }
                        }
                    }
                }
            );

            layim.on('online', function (status) {
                console.log("status:" + status);
            });

            //websocket链接初始化后回调
            var initEventHandle = function () {
                //收到消息后
                socket.onmessage = function (event) {
                    if (event.data instanceof ArrayBuffer) {
                        var msg = proto.Model.deserializeBinary(event.data);      //如果后端发送的是二进制帧（protobuf）会收到前面定义的类型
                        var msgCon = proto.MessageBody.deserializeBinary(msg.getContent());
                        var cache = layui.layim.cache();
                        var local = layui.data('layim')[cache.mine.id];
                        var username = "", avatar = "", friend = false;
                        layui.each(cache.friend, function (index1, item1) {
                            layui.each(item1.list, function (index, item) {
                                if (item.id == msg.getReceiver()) {
                                    username = item.username;
                                    avatar = item.avatar;
                                    return friend = true;
                                }
                            });
                            if (friend) return true;
                        });

                        //心跳消息
                        if (msg.getCmd() == 2) {
                            //发送心跳回应
                            var message = new proto.Model();
                            message.setCmd(2);
                            message.setMsgtype(4);
                            socket.send(message.serializeBinary());
                        } else if (msg.getCmd() == 3) {
                            //上线
                            if (msg.getReceiver() != currentsession) {
                                layer.msg(username + "上线了！");
                                layim.setFriendStatus(msg.getReceiver() , 'online');
                            }
                        } else if (msg.getCmd() == 4) {
                            //下线
                            if (msg.getReceiver() != currentsession) {
                                layer.msg(username + "已下线！");
                                layim.setFriendStatus(msg.getReceiver() , 'offline');
                            }
                        } else {
                            //显示非自身消息
                            if (msg.getSender() != currentsession) {
                                //不显示用户组消息
                                var time = (new Date(msg.getTimestamp())).getTime();
                                if (msg.getGroupid() == null || msg.getGroupid().length < 1) {
                                    lm.getMessage({
                                        username: username
                                        , avatar: avatar + "?" + new Date().getTime()
                                        , id: msg.getSender()
                                        , type: "friend"
                                        , content: msgCon.getContent()
                                        , timestamp: time
                                    });
                                } else {
                                    lm.getMessage({
                                        username: username
                                        , avatar: avatar + "?" + new Date().getTime()
                                        , id: msg.getGroupid()
                                        , type: "group"
                                        , content: msgCon.getContent()
                                        , timestamp: time
                                    });
                                }
                            }
                        }
                    } else {
                        var data = event.data;                //后端返回的是文本帧时触发
                    }
                };
                //连接后
                socket.onopen = function (event) {
                    var message = new proto.Model();
                    var browser = BrowserUtil.info();
                    message.setVersion("1.0");
                    message.setDeviceid("");
                    message.setCmd(1);
                    message.setSender(currentsession);
                    message.setMsgtype(1);
                    message.setFlag(1);
                    message.setPlatform(browser.name);
                    message.setPlatformversion(browser.version);
                    message.setToken(currentsession);
                    var bytes = message.serializeBinary();
                    socket.send(bytes);
                };
                //连接关闭
                socket.onclose = function (event) {
                    layim.setFriendStatus(currentsession, 'offline');
                    layer.confirm('您已下线，重新上线?', function (index) {
                        reconnect(websocketurl, initEventHandle);
                        layer.close(index);
                    });
                };
                socket.onerror = function () {
                    reconnect(websocketurl, initEventHandle);
                };
            };

            createWebSocket(websocketurl, initEventHandle);
        });


    });
</script>
</body>
</html>