<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>聊天</title>
    <link rel="stylesheet" href="../static/layui/css/layui.mobile.css" media="all" />
    <script type="text/javascript" src="../static/js/util.js"></script>
    <script type="text/javascript" src="../static/js/message.js"></script>
    <script type="text/javascript" src="../static/js/messagebody.js"></script>
</head>
<body>

</body>
</html>