<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yff.xim.module.user.mapper.UserInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.yff.xim.model.UserInfoEntity" id="userInfoMap">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="deptid" column="deptid"/>
        <result property="name" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="cardid" column="cardid"/>
        <result property="signature" column="signature"/>
        <result property="school" column="school"/>
        <result property="education" column="education"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="remark" column="remark"/>
        <result property="profilephoto" column="profilephoto"/>
        <result property="createdate" column="createdate"/>
        <result property="createuser" column="createuser"/>
        <result property="updatedate" column="updatedate"/>
        <result property="updateuser" column="updateuser"/>
    </resultMap>


    <select id="queryByUid" parameterType="long" resultType="com.yff.xim.model.UserInfoEntity">
		select  *  from user_info where uid = #{id}
	</select>


    <insert id="insert" parameterType="com.yff.xim.model.UserInfoEntity" useGeneratedKeys="true" keyProperty="id">
		insert into user_info
		(
			`uid`,
			`deptid`,
			`name`,
			`nickname`,
			`sex`,
			`birthday`,
			`cardid`,
			`signature`,
			`school`,
			`education`,
			`address`,
			`phone`,
			`email`,
			`remark`,
			`profilephoto`,
			`createdate`,
			`createuser`,
			`updatedate`,
			`updateuser`
		)
		values
		(
			#{uid},
			#{deptid},
			#{name},
			#{nickname},
			#{sex},
			#{birthday},
			#{cardid},
			#{signature},
			#{school},
			#{education},
			#{address},
			#{phone},
			#{email},
			#{remark},
			#{profilephoto},
			NOW(),
			#{uid},
			NOW(),
			#{uid}
		)
	</insert>
</mapper>